[submodule "pydantic-models"]
	path = pydantic-models
	url = https://github.com/sealablab/pydantic-moku-models
	branch = main
[submodule "moku-dev-vhdl"]
	path = moku-dev-vhdl
	url = https://github.com/sealablab/moku-dev-vhdl
	branch = main
[submodule "moku-bsl"]
	path = moku-bsl
	url = https://github.com/sealablab/moku-bsl.git
	branch = main
