[submodule "pydantic-models"]
	path = pydantic-models
	url = https://github.com/sealablab/pydantic-moku-models
	branch = main
[submodule "moku-dev-vhdl"]
	path = moku-dev-vhdl
	url = https://github.com/sealablab/moku-dev-vhdl
	branch = main
[submodule "moku-examples"]
	path = moku-examples
	url = https://github.com/liquidinstruments/moku-examples.git
